* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 40px;
  cursor: pointer;
  margin-left: 430px;
}
.header ul :hover {
  color: blue;
}
a {
  text-decoration: none;
  color: black;
}
.head {
  display: none;
}
.header ul button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.header ul button:hover {
  background-color: black;
  color: white;
}
.header ul button a {
  color: white;
  text-decoration: none;
}

.iko i {
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}
.iko h1 {
  margin-left: 60px;
  margin-top: -50px;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}
.iko p {
  margin-left: 60px;
  font-size: 15px;
}

.details{
  display: flex;
  gap: 350px;
}
.pro1{
margin-left: 50px;
margin-top: 50px;
 box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
background: #fff;
width: 260px;
padding-left: 20px;
height: 350px;

}
.pro1 {
  transition: 0.3s ease;
}
.pro1:hover {
  transform: translateY(-5px);
}

.pro1 img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-left: 25px;
  margin-top: 10px;
}

.tej {
  display: flex;
  gap: 80px;
}

.pro1 h2 {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
}
.pro1 p {
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
}
.tej button {
  width: 40px;
  height: 20px;
  background-color: green;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 10px;
  margin-left: -60px;
  margin-top: 22px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.icons h3 {
  font-weight: normal;
  font-size: 10px;
  margin-top: 0px;
}

.stars {
  color: yellow;
  margin-left: 0px;
  font-size: 10px;
}
.hoso {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 5px;
}
.hoso h6 {
  font-weight: normal;
  font-size: 10px;
}
.hoso1 h6 {
  font-weight: normal;
  font-size: 10px;
}
.hoso1 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 5px;
}
.fit{
  display: flex;
}
.fit p{
  margin-top:20px;
  font-weight: normal;
  font-size: 10px;
}
.fit h1{

  font-size: 10px;
  margin-left: 15px;
  margin-top: 20px;
}


 .Contact-form{
        height: auto;
        margin-left: 0px;
        margin-top: 40px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        background: #fff;
        width: 400px;
        padding-left: 80px;
        padding-top: 50px;
        height: 400px;
    }
  .Contact-form label{
    margin-top: px;
  }
    .Contact-form input{
    width:300px ;
    height: 30px;
    border-radius: 5px;
    margin-top: 0px;
    border: 1px solid #ccc;
   
}
.Contact-form textarea{
       width:300px ;
    height: 70px;
    border-radius: 5px;
    margin-top: 0px;
     border: 1px solid #ccc;

}
.Contact-form button{
          width:300px ;
    height: 30px;
    border-radius: 10px;
    margin-top: 10PX;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    
}
.Contact-form button a{
  color: white;
}

.Contact-form button:hover{
    background-color: black;
}









.footer{
    width: 95%;
    height: 200px;
    background-color:#1d3c5d;
    color: white;
    margin-left: 15px;
    padding-left:40px;
    padding-top: 90px;
    margin-top: 50px;
}
.king{
    display: flex;
    gap: 120px;
}
.ikom{
 display: flex;
 gap: 30px;
}
.ikom i{
    margin-top: 20px;
       font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}

.okm ul{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
}
.op h1{
    font-size: 30px;
    margin-top: 20px;

   
}
.op p{
font-size: 15px;
margin-top: 20px;}
.footer h6{
    margin-top: 20px;
    margin-left: 500px;
  font-weight: normal;
}

@media (max-width:768px) {
    .header{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        display: none;
    }
    .head{
        display: block;
        margin-left: 350px;
        font-size: 20px;
        margin-top: -50px;
    }
    .details{
      flex-direction: column;
      gap: 30px;
    }
    .Contact-form{
        height: auto;
        margin-left: 40px;
        margin-top: 40px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        background: #fff;
        width: 280px;
        padding-left: 30px;
        padding-top: 50px;
        height: 400px;
    }
  .Contact-form label{
    margin-top: px;
  }
    .Contact-form input{
    width:250px ;
    height: 30px;
    border-radius: 5px;
    margin-top: 0px;
    border: 1px solid #ccc;
   
}
.Contact-form textarea{
       width:250px ;
    height: 70px;
    border-radius: 5px;
    margin-top: 0px;
     border: 1px solid #ccc;

}
.Contact-form button{
          width:250px ;
    height: 30px;
    border-radius: 10px;
    margin-top: 10PX;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    
}
.Contact-form button a{
  color: white;
}

.Contact-form button:hover{
    background-color: black;
}


}

