*{
    margin: 0px;
    padding: 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    cursor: pointer;
     margin-left: 450px

}
.header ul li:hover{
    color: blue;
    
   

}
a{
    text-decoration: none;
    
}
.head {
    display: none;
}

.iko i{
    font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
 

    
    
}
.iko h1{
    margin-left: 60px;
    margin-top: -50px;
    font-size: 25px;
    color: blue;
    font-weight: bold;

}
.iko p{
margin-left: 60px;
font-size: 15px;
}



 .uuno{
background-color: #f4efef9f;
width: 100%;
height: 300px;
margin-top: 50px;
padding-top: 100px;

 }

.uuno h2{

margin-left: 100px;
font-size: 30px;
color: blue;
}
.left{
    display: flex;
    gap: 5rem;
    
}
.Contact-info{
    margin-left: 50px;
    margin-top: 10px;
    padding: 50px;
}
.Contact-info p{
    padding: 5px;
}
.Contact-form{
    margin-left: 300px;
    margin-top: -50px;
    
}
.Contact-form input{
    width:400px ;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ccc;
   
}
.Contact-form textarea{
       width:400px ;
    height: 70px;
    border-radius: 5px;
    margin-top: 20px;
     border: 1px solid #ccc;

}
.Contact-form button{
          width:400px ;
    height: 30px;
    border-radius: 10px;
    margin-top: 20PX;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
.Contact-form button a{
    color: white;
}
.Contact-form button:hover{
    background-color: black;
}

.footer {
  width: 95%;
  height: 200px;
  background-color: #1d3c5d;
  color: white;
  margin-left: 15px;
  padding-left: 40px;
  padding-top: 50px;
}
.king {
  display: flex;
  gap: 120px;
}
.ikom {
  display: flex;
  gap: 30px;
}
.ikom i {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 40px;
}

.okm ul {
  list-style: none;
  margin-top: 10px;
  padding: 5px;
}
.op h1 {
  font-size: 30px;
  margin-top: 20px;
}
.op p {
  font-size: 15px;
  margin-top: 20px;
}
.footer h6 {
  margin-top: 20px;
  margin-left: 500px;
  font-weight: normal;
}

@media (max-width:768px) {
    .head{
        display: block;
        margin-top: 40px;
    }
    .header ul{
        display: none;
    }
    .uuno{
        height: auto;
    }
    .uuno h2{
        margin-left: 80px;
    }
    .left{
        flex-direction: column;

    }
    .Contact-info{
        margin-left: 20px;
    }
    .Contact-form{
        height: auto;
        margin-left: 45px;
        margin-top: 40px;
    }
  
    .Contact-form input{
    width:300px ;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    border: 1px solid #ccc;
   
}
.Contact-form textarea{
       width:300px ;
    height: 70px;
    border-radius: 5px;
    margin-top: 20px;
     border: 1px solid #ccc;

}
.Contact-form button{
          width:300px ;
    height: 20px;
    border-radius: 10px;
    margin-top: 20PX;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    
}
.Contact-form button:hover{
    background-color: black;
}

  .footer{
    width: auto;
    height: auto;
    margin-top: 20px;

}
.king{
    flex-direction: column;
    gap: 50px;
}

.op h1{
        font-size: 15px;
    }
    .op p{
         font-size: 10px;
    }
    .okm{
        margin-left: 115px;
    }
    .footer h6{
        margin-left: 0px;
        font-size: 10px;
    }
    
}
