*{
    margin: 0px;
    padding: 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
}
.header ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 40px;
    cursor: pointer;
     margin-left: 450px

}
.header ul li:hover{
    color: blue;
    
   

}
a{
    text-decoration: none;
    
}
.head {
    display: none;
}
.header ul button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.header ul button:hover {
  background-color: black;
  color: white;
}
.header ul button a {
  color: white;
  text-decoration: none;
}

.iko i{
    font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    margin-top: 30px;

    
    
}
.iko h1{
    margin-left: 60px;
    margin-top: -50px;
    font-size: 25px;
    color: blue;
    font-weight: bold;

}
.iko p{
margin-left: 60px;
font-size: 15px;
}

.helo{
    background-color: blue;
     width: 98%;
    height: 600px;
    color: white;
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    gap: 50px;
  overflow: hidden;
}
.left{
    animation: taay 1s;
}
@keyframes taay{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}
.left h2{
margin-top: 140px;
font-weight: normal;
margin-left: 50px;
}
.left h3{
    margin-top: 30px;
    font-weight: normal;
    margin-left: 50px;
}
.iop{
    display: flex;
    gap: 80px;
    margin-top: 30px;
    margin-left: 50px;
}
.iop1 h4{
    font-size: 30px;

}
.iop1 p{
      font-size: 20px;
}

.iop2 h4{
    font-size: 30px;

}
.iop2 p{
      font-size: 20px;
}

.iop3 h4{
    font-size: 30px;

}
.iop3 p{
      font-size: 20px;
}
.cotijn{
    display: flex;
    gap: 40px;
     margin-top: 60px;
    margin-left: 50px;
}
.cotijn button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}
.cotijn button:hover{
    background-color: grey;
}
.cotijn p {
       width: 90px;
    height: 30px;
    border-radius: 5px;
    border: white 1px solid;
    padding-left: 10px;
    padding-top: 5px;
    background-color: blue;
    color: white;
    cursor: pointer;
}
.cotijn p:hover{
    background-color: grey;
}

.right img{
    width: 450px;
    height: 500px;
    border-radius: 10px;
    border: none;
    margin-left: 70px;
    margin-top: 80px;
    animation: yuu 1s;
}
@keyframes yuu{
    from{
        transform: translate(700px);
    }
    to{
        transform: translate(0px);
    }
}
.som{
    text-align: center;
    margin-top: 60px;
}
.olym{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin-top: 40px;
    
}

.olym1{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.olym1{
    transition: 0.3s ease;
}
.olym1:hover{
    transform: translateY(-10px);
}


.olym1 i{
font-size: 30px;
color: blue;
background-color: lightblue;
border-radius: 5px;
border: none;
width: 40px;
height: 40px;
margin-left: -110px;
margin-top: 10px;
}

.olym1 h2{
font-size: 18px;
margin-top: 20px;
}

.olym1 p{
font-size: 13px;
margin-top: 20px;
}

.olym2{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.olym2{
    transition: 0.3s ease;
}
.olym2:hover{
    transform: translateY(-10px);
}

.olym2 i{
font-size: 30px;
color: green;
background-color: lightgreen;
border-radius: 5px;
border: none;
width: 40px;
height: 40px;
margin-left: -110px;
margin-top: 10px;
}

.olym2 h2{
font-size: 18px;
margin-top: 20px;
}

.olym2 p{
font-size: 13px;
margin-top: 20px;
}

.olym3{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.olym3{
    transition: 0.3s ease;
}
.olym3:hover{
    transform: translateY(-10px);
}

.olym3 i{
font-size: 30px;
color: purple;
background-color: lightcoral;
border-radius: 5px;
border: none;
width: 40px;
height: 40px;
margin-left: -110px;
margin-top: 10px;
}

.olym3 h2{
font-size: 18px;
margin-top: 20px;
}

.olym3 p{
font-size: 13px;
margin-top: 20px;
}


.olym4{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.olym4{
    transition: 0.3s ease;
}
.olym4:hover{
    transform: translateY(-10px);
}

.olym4 i{
font-size: 30px;
color: red;
background-color: lightpink;
border-radius: 5px;
border: none;
width: 40px;
height: 40px;
margin-left: -110px;
margin-top: 10px;
}

.olym4 h2{
font-size: 18px;
margin-top: 20px;
}

.olym4 p{
font-size: 13px;
margin-top: 20px;
}

.mom h1{
    font-weight: normal;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 60px;
}
.mom{
display: flex;
gap: 80px;
overflow: hidden;
}
.midig img{
    width: 400px;
    height: 500px;
    border-radius: 10px;
    border: none;
    margin-top: 80px;
    animation: heno 1s;

}
@keyframes heno{
from{
    transform: translate(700px);
}
to{transform: translate(0px);
}
}
.bidix{
    animation: nona 1s;
}
@keyframes nona{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}

.mom h2{
     font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 60px;
}

.kon{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.icon i{
    color: green;
    background-color: lightgreen;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 70px;
}
.text p{
    margin-left: 20px;
    margin-top: 10px;
}
.lki{
    text-align: center;
    margin-top: 70px;
}

.lki h2{
    font-size: 25px;

}
.lki h3{
    font-weight: normal;
    font-size: 15px;
    margin-top: 20px;
}

.koki{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}
.fredom{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.fredom{
    transition: 0.3s ease;
}
.fredom:hover{
    transform: translateY(-10px);
}


.hop{
    background-color: blue;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 60px;
    color: white;
    margin-left: 150px;
    margin-top: 30px;
}
.fredom h3{
    margin-top: 10px;
}
.fredom p{
margin-top: 10px;
}

.registration{
   margin-left: 400px;
    margin-top: 100px;
}
.form{
    display: flex;
    gap: 60px;
}
.kun{
    background-color: aliceblue;
}
.kun h1{
    text-align: center;
     margin-top: 60px;
}
.kun p{
    text-align: center;
     margin-top: 20px;
}
.registration{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-left: 0px;
  margin-left: 200px;
  margin-right: 200px;
  
}
.form1 input{
background-color:whitesmoke;
border: none;
width: 335px;
height: 35px;
border-radius: 5px;
padding-left: 10px;}

.form6 input{
background-color:whitesmoke;
border: none;
width: 335px;
height: 35px;
border-radius: 5px;
padding-left: 10px;}


.form5 input{
background-color:whitesmoke;
border: none;
width: 335px;
height: 35px;
border-radius: 5px;
padding-left: 10px;


}

.form{
    margin-left: 30px;
    margin-top: 20px;
}
.form2{
    margin-left: 30px;
     margin-top: 20px;
}
.form2 select{
    width: 750px;
    padding-left: 10px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     

}
.form2 input{
  width: 750px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
      background-color:whitesmoke;
      padding-left: 10px;
}
.form3{
    margin-left: 30px;
    margin-top: 20px;
}

.form3 input{
    width: 740px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     padding-left: 10px;
}
.form4{
    margin-left: 30px;
    margin-top: 20px;
}
.form4 input{
    width: 740px;
     height: 70px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     padding-left: 10px;
   padding-top: -100px;
}
.registration button{
     margin-left: 30px;
     width: 750px;
     height: 30px;
     border: none;
     border-radius: 10px;
     background-color: blue;
     color: white;
      margin-top: 30px;
      cursor: pointer;
}
.registration button a{
    color: white;
}
.registration button:hover{
    background-color: black;
   
}


.footer{
    width: 95%;
    height: 200px;
    background-color:#1d3c5d;
    color: white;
    margin-left: 15px;
    padding-left:40px;
    padding-top: 90px;
    margin-top: 50px;
}
.king{
    display: flex;
    gap: 120px;
}
.ikom{
 display: flex;
 gap: 30px;
}
.ikom i{
    margin-top: 20px;
       font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}

.okm ul{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
}
.op h1{
    font-size: 30px;
    margin-top: 20px;

   
}
.op p{
font-size: 15px;
margin-top: 20px;}
.footer h6{
    margin-top: 20px;
    margin-left: 500px;
  font-weight: normal;
}


@media (max-width:768px) {
     .header{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        display: none;
    }
    .head{
        display: block;
        margin-left: 350px;
        font-size: 20px;
        margin-top: -50px;
    }
    .helo{
        flex-direction: column;
        height: auto;
        margin-left: 5px;
        
    }
    .left h2{
        margin-left: 10px;
    }
    .left h3{
        margin-left: 10px;
    }
    .iop{
        flex-direction: column;
        gap: 10px;
    }
    .right img{
        margin-left:15px;
        width: 350px;
        height: 300px;
        
    }
    .olym{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .olym1{
        width: 320px;
        margin-left: 10px;

    }
    .olym2{
        width: 320px;
        margin-left: 10px;

    }
    .olym3{
        width: 320px;
        margin-left: 10px;

    }
    .olym4{
        width: 320px;
        margin-left: 10px;

    }
    .mom{
        flex-direction: column;
        gap: 20px;
    }
    .bidix{
        margin-left: -40px;
    }
    .midig img{
        height: 300px;
        width: 350px;
        margin-left: 20px;
    }
    .koki{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    }
    .fredom{
        height: 300px;
        width: 300px;
        margin-left: 15px;
    }

    .registration{
   margin-left: 0px;
    margin-top: 50px;
    padding-left: 10px;
}
.form{
    display: flex;
    gap: 10px;
}
.kun{
    background-color: aliceblue;
}
.kun h1{
    text-align: center;
     margin-top: 60px;
}
.kun p{
    text-align: center;
     margin-top: 20px;
}
.registration{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-left: 0px;
  margin-left: 10px;
  margin-right: 10px;
  
}
.form1 input{
background-color:whitesmoke;
border: none;
width: 140px;
height: 35px;
border-radius: 5px;
padding-left: 10px;

}

.form6 input{
background-color:whitesmoke;
border: none;
width: 140px;
height: 35px;
border-radius: 5px;
padding-left: 10px;}


.form5 input{
background-color:whitesmoke;
border: none;
width: 140px;
height: 35px;
border-radius: 5px;
padding-left: 10px;


}

.form{
    margin-left: 10px;
    margin-top: 20px;
}
.form2{
    margin-left: 10px;
     margin-top: 20px;
}
.form2 select{
    width: 315px;
    padding-left: 10px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     

}
.form2 input{
  width: 315px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
      background-color:whitesmoke;
      padding-left: 10px;
}
.form3{
    margin-left: 10px;
    margin-top: 20px;
}

.form3 input{
    width: 310px;
     height: 40px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     padding-left: 10px;
}
.form4{
    margin-left: 10px;
    margin-top: 20px;
}
.form4 input{
    width: 310px;
     height: 70px; 
      border-radius: 5px; 
      border: none;
     background-color:whitesmoke;
     padding-left: 10px;
   padding-top: -100px;
}
.registration button a {
    text-decoration:none ;
    color: hite;
}

.registration button{
     margin-left: 10px;
     width: 315px;
     height: 30px;
     border: none;
     border-radius: 10px;
     background-color: blue;
     color: white;
      margin-top: 30px;
      cursor: pointer;
}
.registration button:hover{
    background-color: black;
   
}


     .footer{
    width: auto;
   height: auto;
   }
   .king{
flex-direction: column;
gap: 50px;
   }
   .op h1{
        font-size: 15px;
    }
    .op p{
         font-size: 10px;
    }
    .okm{
        margin-left: 70px;
    }
    .footer h6{
        margin-left: 0px;
        font-size: 10px;
    }
    
}

