* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 40px;
  cursor: pointer;
  margin-left: 430px;
}
.header ul :hover {
  color: blue;
}
a {
  text-decoration: none;
  color: black;
}
.head {
  display: none;
}
.header ul button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.header ul button:hover {
  background-color: black;
  color: white;
}
.header ul button a {
  color: white;
  text-decoration: none;
}

.iko i {
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}
.iko h1 {
  margin-left: 60px;
  margin-top: -50px;
  color: blue;
  font-size: 25px;
  font-weight: bold;
}
.iko p {
  margin-left: 60px;
  font-size: 15px;
}
.section {
  width: 98%;
  height: 450px;
  color: white;
  background-color: blue;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
}
.section h6 {
  font-weight: normal;
  font-size: 15px;
  padding-top: 70px;
}
.section h2 {
  margin-top: 20px;
  font-weight: normal;
  font-size: 20px;
}
.yu input{
   background-color: white;
  width: 830px;
  height: 50px;
  color: black;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
  outline: none;
  
}
.yu {
  background-color: white;
  width: 830px;
  height: 50px;
  color: black;
  border: none;
  border-radius: 10px;
  margin-left: 210px;
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.yu button a {
  color: white;
  text-decoration: none;
}
.yu button {
  margin-right: 20px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.yu button:hover {
  background-color: black;
}


.haay {
  display: flex;
  gap: 190px;
  margin-left: 260px;
  margin-top: 40px;
}
.haay h1 {
  font-weight: normal;
}

.divo {
  margin-top: 60px;
  text-align: center;
}
.divo h1 {
  font-size: 20px;
  font-weight: bold;
}
.divo p {
  font-size: 15px;
  margin-top: 30px;
}
.hold {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: center;
  gap: 0.5rem;
}
.you {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1 1 250px;
}
.you {
  transition: 0.3s ease;
}
.you:hover {
  transform: translateY(-10px);
}

.feature {
  margin-top: 70px;
}
.feature h1 {
  text-align: center;
}
.feature p {
  text-align: center;
}

.profession {
  display: flex;
  margin-left: 40px;
}
.pro1 a {
  text-decoration: none;
  color: white;
}

.pro1 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  margin-left: 30px;
  margin-top: 50px;
}
.pro1 {
  transition: 0.3s ease;
}
.pro1:hover {
  transform: translateY(-5px);
}

.tej {
  display: flex;
  gap: 80px;
}

.pro1 img {
  width: 350px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  border: none;
  margin-left: 0px;
}

.pro1 h2 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.pro1 p {
  margin-right: 250px;
  font-size: 15px;
  margin-top: 10px;
}
.tej button {
  width: 40px;
  height: 20px;
  background-color: green;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 10px;
  margin-left: -60px;
  margin-top: 22px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.icons h3 {
  font-weight: normal;
  font-size: 10px;
  margin-top: 5px;
}

.stars {
  color: yellow;
  margin-left: 0px;
  font-size: 15px;
}
.hoso {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.hoso h6 {
  font-weight: normal;
}
.hoso1 h6 {
  font-weight: normal;
}
.hoso1 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.pro1 h5 {
  width: 90px;
  height: 25px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 220px;
  padding-left: 5px;
  font-weight: normal;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: -30px;
  cursor: pointer;
}
.liu button {
  width: 200px;
  height: 50px;
  background-color: white;
  color: black;
  border-radius: 20px;
  border: 1px solid black;
  margin-top: 70px;
  margin-left: 530px;
  cursor: pointer;
}
.liu button:hover {
  background-color: lightgray;
}
.lok {
  display: flex;
  gap: 20px;
}
.lok1 {
  display: flex;
  gap: 10px;
  margin-top: 50px;
  margin-left: 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex: 1 1 250px;
}
.lok1 {
  transition: 0.3s ease;
}
.lok1:hover {
  transform: translateY(-10px);
}

.ool i {
  color: blue;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: lightblue;
  border-radius: 5px;
  border: none;
  width: 30px;
  height: 20px;
}
.ool1 h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.ool1 p {
  margin-top: 0px;
  margin-left: 20px;
}

.blue {
  background-color: blue;
  width: 98%;
  height: 300px;
  margin-top: 40px;
  margin-left: 15px;
  text-align: center;
  color: white;
}
.blue h6 {
  padding-top: 70px;
  font-size: 20px;
  font-weight: normal;
}
.blue p {
  margin-top: 15px;
}
.los {
  display: flex;
  gap: 20px;
  margin-left: 450px;
  margin-top: 30px;
}
.los button {
  width: 220px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 30px;
}
.los button:hover {
  background-color: lightblue;
}


.footer {
  width: 95%;
  height: 200px;
  background-color: #1d3c5d;
  color: white;
  margin-left: 15px;
  padding-left: 40px;
  padding-top: 50px;
}
.king {
  display: flex;
  gap: 120px;
}
.ikom {
  display: flex;
  gap: 30px;
}
.ikom i {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 40px;
}

.okm ul {
  list-style: none;
  margin-top: 10px;
  padding: 5px;
}
.op h1 {
  font-size: 30px;
  margin-top: 20px;
}
.op p {
  font-size: 15px;
  margin-top: 20px;
}
.footer h6 {
  margin-top: 20px;
  margin-left: 500px;
  font-weight: normal;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .iko {
    margin-left: 30px;
  }
  .header ul {
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
    display: none;
  }
  .head {
    display: block;
    margin-left: 350px;
    font-size: 20px;
    margin-top: -50px;
  }
  .section {
    margin-top: 50px;
    width: 375px;
    height: auto;
    margin-left: 8px;
    text-align: center;
  }
  .yu {
    margin-left: 30px;
    width: 320px;

  }
  .yu input {
    margin-left: 10px;
    /* font-size: 10px;
    margin-top: 15px;
    margin-left: 5px; */
  }
  .yu button {
    margin-left: 60px;
    width: 390px;
    height: 30px;
  }
  .haay {
    flex-direction: column;
    gap: 10px;
    margin-left: 0px;
  }
  .divo p {
    font-size: 10px;
  }
  .hold {
    flex-direction: column;
    gap: 10px;
  }
  .you {
    width: 200px;
    margin-left: 65px;
    height: 50px;
    margin-top: 10px;
  }
  .profession {
    flex-direction: column;
    gap: 10px;
    margin-left: -10px;
  }
  .liu button {
    margin-left: 90px;
  }
  .lok {
    flex-direction: column;
    gap: 10px;
    margin-left: 10px;
  }
  .lok1 {
    margin-left: 30px;
    width: 260px;
    flex-direction: column;
    
    
  }
  .ool i {
    font-size: 15px;
    margin-left: 100px;
  }
  .ool1 h1 {
    font-size: 15px;
    margin-left: 50px;
  }
  .ool1 p {
    font-size: 15px;
    margin-left: 50px;
  }
  .blue {
    height: auto;
    width: 370px;
    margin-left: 10px;
  }
  .los {
    margin-left: 0px;
    flex-direction: column;
    gap: 20px;
  }
  .los button {
    width: 220px;
    height: 30px;
    margin-left: 70px;
  }
  .los h5 {
    width: 220px;
    height: 30px;
    font-size: 15px;
    margin-left: 60px;
  }
  .footer {
    height: auto;
    width: auto;
    margin-left: 0px;
  }
  .king {
    flex-direction: column;
    gap: 50px;
  }
  .op h1 {
    font-size: 15px;
  }
  .op p {
    font-size: 10px;
  }
  .okm {
    margin-left: 120px;
  }
  .footer h6 {
    margin-left: 0px;
    font-size: 10px;
  }
}
