*{
    margin: 0px;
    padding: 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 40px;
  cursor: pointer;
  margin-left: 430px;
}
.header ul :hover {
  color: blue;
}
a {
  text-decoration: none;
  color: black;
}
.head {
  display: none;
}
.header ul button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.header ul button:hover {
  background-color: black;
  color: white;
}
.header ul button a {
  color: white;
  text-decoration: none;
}

.iko i {
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}
.iko h1 {
  margin-left: 60px;
  margin-top: -50px;
  font-size: 25px;
  color: blue;
  font-weight: bold;
}
.iko p {
  margin-left: 60px;
  font-size: 15px;
}
.hero{
    background-color: blue;
    height: 300px;
    width: 98%;
    margin-top: 20px;
    margin-left: 15px;
    color: white;
    text-align: center;
}.hero h1{
padding-top: 90px;
    margin-left: 50px;
    font-weight: normal;
    font-size: 20px;
}
.hero p{
    margin-top: 20px;
    margin-left: 50px;
}

.hyu{
    display: flex;
   justify-content: space-between;
   margin-left: 70px;
   margin-top: 80px;
   margin-right: 70px;
   overflow: hidden;
 
   
}
.left{
    margin-top: -40px;
    animation: katag 1s;
}
@keyframes katag{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}
.hhhy{
    display: flex;
    gap: 0px;
}


.hyy{
    background-color: blue;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
    margin-left: 20px;
}
.hyy h1{
    margin-left: 30px;
    margin-top: 25px;
}
.huyhn{
       margin-top: 80px;
       
    
}
.huyhn h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30PX;
    margin-left: 10px;
}
.huyhn p{
     margin-top: 80px;
     margin-left: -100PX;
 
}


.right{
    
    width: 400px;
    height: 400px;
    border-radius: 20px;
      border: none;
      animation: heed 1s;

}
@keyframes heed{
    from{
        transform: translate(700px);
    }
    to{
        transform: translate(0px);
    }
}


.right img{ 
     width: 400px;
    height: 400px;
    border-radius: 20px;
}



.hyu1{
    display: flex;
   justify-content: space-between;
   margin-left: 70px;
   margin-top: 80px;
   margin-right: 70px;
       overflow: hidden;
}
.hhhy{
    display: flex;
    gap: 0px;

}

.hyy1{
    background-color: purple;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
    margin-left: 20px;
}
.hyy1 h1{
    margin-left: 30px;
    margin-top: 25px;
}
.huyhn{
       margin-top: 80px;
       
    
}
.huyhn h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30PX;
    margin-left: 10px;
}
.huyhn p{
     margin-top: 80px;
     margin-left: -100PX;
 
}
.right1{
   
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 20px;
    animation: kadhig 1s;

}
@keyframes kadhig{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}
    
.right1 img{
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 20px;
}
.left1{
      margin-top: -40px;
    animation: king 1s;
}
@keyframes king{
    from{
        transform: translate(700px);
    }
    to{
        transform: translate(0px);
    }
}
 
.hyu2{
    display: flex;
   justify-content: space-between;
   margin-left: 70px;
   margin-top: 80px;
   margin-right: 70px;
}
.hhhy{
    display: flex;
    gap: 0px;
}


.hyy2{
    background-color: green;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
    margin-left: 20px;
}
.hyy2 h1{
    margin-left: 30px;
    margin-top: 25px;
}
.huyhn{
       margin-top: 80px;
       
    
}
.left2{
      margin-top: -40px;
    animation: keen 1s;
}
@keyframes keen{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}
.huyhn h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30PX;
    margin-left: 10px;
}
.huyhn p{
     margin-top: 80px;
     margin-left: -100PX;
 
}
.right2{
    background-color: green;
    width: 400px;
    height: 400px;
    border: none;
    border-radius: 20px;
    animation: halo 1s;

}
@keyframes halo{
    from{
        transform: translate(700px);
    }
    to{
        transform: translate(0px);
    }
}
.right2 img{
    width: 400px;
    height: 400px;
     border-radius: 20px;
}

.hyu3{
    display: flex;
   justify-content: space-between;
   margin-left: 70px;
   margin-top: 80px;
   margin-right: 70px;
   overflow: hidden;
}
.hhhy3{
    display: flex;
    gap: 0px;
}
.left3{
      margin-top: -40px;
    animation: kinh 1s;
}
@keyframes kinh{
    from
    {
        transform: translate(700px);
    }
    to{
        transform: translate(0px);
    }
}
.hyy3{
    background-color: red;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 20px;
    color: white;
    margin-top: 80px;
    margin-left: 20px;
}
.hyy3 h1{
    margin-left: 30px;
    margin-top: 25px;
}
.huyhn{
       margin-top: 80px;
       
    
}
.huyhn h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 30PX;
    margin-left: 10px;
}
.huyhn p{
     margin-top: 80px;
     margin-left: -100PX;
 
}
.right3{
    background-color: red;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    border: none;
    animation: huno 1s;
}
@keyframes huno{
    from{
        transform: translate(-700px);
    }
    to{
        transform: translate(0px);
    }
}
.right3 img{
      width: 400px;
    height: 400px;
    border-radius: 20px;
}
.bene{
    text-align: center;
    margin-top: 100px;
}
.bene button a{
    text-decoration: none;
    color: white;
}
.rise{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-left: 10px;
    gap: 50px;
}

.oiii{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.oiii{
    transition: 0.3s ease;
}
.oiii:hover{
    transform: translateY(-10px);
}


.oiii1 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.oiii1{
    transition: 0.3s ease;
}
.oiii1:hover{
    transform: translateY(-10px);
}
     


.oiii2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.oiii2{
    transition: 0.3s ease;
}
.oiii2:hover{
    transform: translateY(-10px);
}
  

.oiii i{
margin-top: 60PX;
background-color: lightblue;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color: blue;
font-size: 40px;
}
.oiii h5{
margin-top: 30PX;
}
.oiii p{
    margin-top: 30px;
}

.oiii1 i{
margin-top: 60PX;
background-color: lightblue;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color: blue;
font-size: 40px;
}
.oiii1 h5{
margin-top: 30PX;
}
.oiii1 p{
    margin-top: 30px;
}
.oiii2 i{
margin-top: 60PX;
background-color: lightblue;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color: blue;
font-size: 40px;
}
.oiii2 h5{
margin-top: 30PX;
}
.oiii2 p{
    margin-top: 30px;
}

.bene button{
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;
}
.bene button:hover{
    background-color: blue;
}



.benefento p{
    margin-top: 10px;
}

.benefento{
    text-align: center;
    margin-top: 100px;
}
.benefento button a{
    text-decoration: none;
    color: white;
}

.ronde{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 60px;
    margin-left: 10px;
    gap: 20px;
}

.ronde1{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.ronde1{
    transition: 0.3s ease;
}
.ronde1:hover{
    transform: translateY(-10px);
}

.ronde2{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.ronde2{
    transition: 0.3s ease;
}
.ronde2:hover{
    transform: translateY(-10px);
}

.ronde3{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.ronde3{
    transition: 0.3s ease;
}
.ronde3:hover{
    transform: translateY(-10px);
}

.ronde1 i{
margin-top: 60PX;
background-color: green;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color: white;
font-size: 40px;
}
.ronde1 h5{
margin-top: 30PX;
}
.ronde1 p{
    margin-top: 30px;
}

.ronde2 i{
margin-top: 60PX;
background-color: green;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color:white;
font-size: 40px;
}
.ronde2 h5{
margin-top: 30PX;
}
.ronde2 p{
    margin-top: 30px;
}
.ronde3 i{
margin-top: 60PX;
background-color: green;
border-radius: 10PX;
border: none;
width: 50px;
height: 40px;
color: white;
font-size: 40px;
}
.ronde3 h5{
margin-top: 30PX;
}
.ronde3 p{
    margin-top: 30px;
}
.benefento button{
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;
}
.benefento button:hover{
background-color: blue;
}
.benefento p{
    margin-top: 10px;
}

.free{
    text-align: center;
    margin-top: 70px;
  
}
.free h2{
    margin-top: 30px;
}
.free2{
   margin-top: 40px;
  gap: 40px;
}
.free1{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  
}
.free1{
    transition: 0.3s ease;
}
.free1:hover{
    transform: translateY(-10px);
}

.free1 h3{
text-align: left;
   margin-left: 15px;
   margin-top: 10px;
   font-size: 15px;
}
.free1 p{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
.free3{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
   margin-top: 20px;
  
}
.free3{
    transition: 0.3s ease;
}
.free3:hover{
    transform: translateY(-10px);
}

.free3 h3{
text-align: left;
   margin-left: 15px;
   margin-top: 10px;
   font-size: 15px;
}
.free3 p{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
.free4{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
   margin-top: 20px;
  
}
.free4{
    transition: 0.3s ease;
}
.free4:hover{
    transform: translateY(-10px);
}

.free4 h3{
text-align: left;
   margin-left: 15px;
   margin-top: 10px;
   font-size: 15px;
}
.free4 p{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
.free5{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-top: 20px;
  
}
.free5{
    transition: 0.3s ease;
}
.free5:hover{
    transform: translateY(-10px);
}

.free5 h3{
text-align: left;
   margin-left: 15px;
   margin-top: 10px;
   font-size: 15px;
}
.free5 p{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}

.becke{
    width: 98%;
    height: 250px;
    background-color: blue;
    color: white;
    margin-left: 15px;
    margin-top: 70px;
    text-align: center;
}
.becke p a{
    text-decoration: none;
    color: white;
}
.becke h4{
    font-weight: normal;
    font-size: 20px;
    padding-top: 70px;
}

.becke h5{
    font-weight: normal;
    font-size: 20px;
    margin-top: 20px;
}
.para{
    display: flex;
    text-align: center;
    gap: 20px;
    margin-left: 500px;
    margin-top: 30px;
}
.para button{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: none;
    background-color: white;
    cursor: pointer;
}
.para button:hover{
    background-color: grey;
}
.para p{
    width: 150px;
    height: 30px;
    border: 0.5px solid white;
    border-radius: 10px;
    color: white;
    background-color: blue;
    cursor: pointer;
}
.para p:hover{background-color: black;}


.footer{
    width: 95%;
    height: 200px;
    background-color:#1d3c5d;
    color: white;
    margin-left: 15px;
    padding-left:40px;
    padding-top: 50px;
}
.king{
    display: flex;
    gap: 120px;
}
.ikom{
 display: flex;
 gap: 30px;
}
.ikom i{
    margin-top: 20px;
       font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}

.okm ul{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
}
.op h1{
    font-size: 30px;
    margin-top: 20px;

   
}
.op p{
font-size: 15px;
margin-top: 20px;}
.footer h6{
    margin-top: 20px;
    margin-left: 500px;
  font-weight: normal;
}






@media (max-width:768px) {
     .header{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        display: none;
    }
    .head{
        display: block;
        margin-left: 350px;
        font-size: 20px;
        margin-top: -50px;
    }
    .hero{
        margin-left: 3px;
        height: auto;
        text-align: center;
    }
    .hero p{
        margin-left: 0px;
        margin-top: 5px;
    }

    .hyu{
        flex-direction: column;
        gap: 20px;
        margin-left: 40px;
    }
   .huyhn p{
    margin-left: 5px;
   }
   .right{
    width: 400px;
    margin-left: 5px;
   }

   .hyu1{
        flex-direction: column;
        gap: 20px;
        margin-left: 40px;
    }
    .huyhn p{
    margin-left: 5px;
   }
   .right1{
    width: 400px;
    margin-left: 5px;
   }
    
     .hyu2{
        flex-direction: column;
        gap: 20px;
        margin-left: 40px;
    }
   .huyhn p{
    margin-left: 5px;
   }
   .right2{
    width: 280px;
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
   }
   .right2 img{
width: 280px;
   }

    .hyu3{
        flex-direction: column;
        gap: 20px;
        margin-left: 40px;
    }
   .huyhn p{
    margin-left: 5px;
   }
   .right3{
    width: 400px;
    margin-left: 5px;
   }


.oiii {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  width: 250px;
  margin-left: 40px;
  
}
.oiii{
    transition: 0.3s ease;
}
.oiii:hover{
    transform: translateY(-10px);
}

.oiii1 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  width: 250px;
  margin-left: 40px;
  
}
.oiii1{
    transition: 0.3s ease;
}
.oiii1:hover{
    transform: translateY(-10px);
}
.oiii2 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  width: 250px;
  margin-left: 40px;
  
}
.oiii2{
    transition: 0.3s ease;
}
.oiii2:hover{
    transform: translateY(-10px);
}
     

.ronde1{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
   width: 280px;
  margin-left: 25px;
  
}
.ronde1{
    transition: 0.3s ease;
}
.ronde1:hover{
    transform: translateY(-10px);
}

.ronde2{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
   width: 280px;
  margin-left: 25px;
  
}
.ronde2{
    transition: 0.3s ease;
}
.ronde2:hover{
    transform: translateY(-10px);
}

.ronde3{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  width: 280px;
  margin-left: 25px;
  
}
.ronde3{
    transition: 0.3s ease;
}
.ronde3:hover{
    transform: translateY(-10px);
}
   
.free5{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-top: 20px;
   width: 280px;
  margin-left: 25px;
  
}
.free5{
    transition: 0.3s ease;
}
.free5:hover{
    transform: translateY(-10px);
}

.free3{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-top: 20px;
   width: 280px;
  margin-left: 25px;
  
}
.free3{
    transition: 0.3s ease;
}
.free3:hover{
    transform: translateY(-10px);
}

.free1{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-top: 20px;
   width: 280px;
  margin-left: 25px;
  
}
.free1{
    transition: 0.3s ease;
}
.free1:hover{
    transform: translateY(-10px);
}

.free4{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
 background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  flex:1 1 250px;
  margin-top: 20px;
  width: 280px;
  margin-left: 25px;
  
}
.free4{
    transition: 0.3s ease;
}
.free4:hover{
    transform: translateY(-10px);
}

   .rise{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5px;
    width: 380px;
   }

   .ronde{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 5px;
    width: 380px;
   }

   .free1{
    margin-left: 5px;
    width: 380px;
   }

   .becke{
    width: 380px;
    height: auto;

   }
   .para{
    flex-direction: column;
    gap: 20px;
    margin-left: 100px;
   }

   .footer{
    width: auto;
   height: auto;
   }
   .king{
flex-direction: column;
gap: 50px;

   }
   .op h1{
        font-size: 15px;
    }
    .op p{
         font-size: 10px;
    }
    .okm{
        margin-left: 70px;
    }
    .footer h6{
        margin-left: 0px;
        font-size: 10px;
    }
    
}
