*{
    margin: 0px;
    padding: 0px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
}
.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 40px;
  cursor: pointer;
  margin-left: 450px;
}
.header ul :hover {
  color: blue;
}
a {
  text-decoration: none;
  color: black;
}
.head {
  display: none;
}
.header ul button {
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background-color: blue;
  color: white;
  cursor: pointer;
}
.header ul button:hover {
  background-color: black;
  color: white;
}
.header ul button a {
  color: white;
  text-decoration: none;
}

.iko i {
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  margin-top: 30px;
}
.iko h1 {
  margin-left: 60px;
  margin-top: -50px;
  font-size: 25px;
  color: blue;
  font-weight: bold;
}
.iko p {
  margin-left: 60px;
  font-size: 15px;
}

.hero{
    background-color: blue;
    height: 200px;
    width: 98%;
    margin-top: 20px;
    margin-left: 15px;
    color: white;
}.hero h1{
padding-top: 40px;
    margin-left: 50px;
}
.hero p{
    margin-top: 20px;
    margin-left: 50px;
}
.yun input{
   background-color: whitesmoke;
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.yun{
    background-color: whitesmoke;
    width: 700px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
    margin-left: 40px;
}

.loki{
    display: flex;
    gap: 10px;
}
select{
     background-color: whitesmoke;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-top: 50px;
    margin-left: 40px;
    position: relative;
    padding-left: 5px;
    outline: none;
}
.ghu h5{
    margin-left: 50px;
    margin-top: 10px;
    font-weight: normal;

}

.rui h1{
    margin-top: 60px;
    font-size: 20px;
    font-weight: normal;
    margin-left: 50px;
    margin-top: 50px;
}

.profession {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  margin-left: 40px;
}
.pro1 a {
  text-decoration: none;
  color: white;
}

.pro1 {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 10px;
  height: 400px;
  width: 350px;
  margin-left: 30px;
  margin-top: 50px;
}
.pro1 {
  transition: 0.3s ease;
}
.pro1:hover {
  transform: translateY(-5px);
}

.tej {
  display: flex;
  gap: 80px;
}

.pro1 img {
  width: 350px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 0px;
  border: none;
  margin-left: 0px;
}

.pro1 h2 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}
.pro1 p {
  margin-left: 20px;
  font-size: 15px;
  margin-top: 10px;
}
.tej button {
  width: 40px;
  height: 20px;
  background-color: green;
  color: white;
  border-radius: 7px;
  border: none;
  font-size: 10px;
  margin-left: -60px;
  margin-top: 22px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 20px;
}
.icons h3 {
  font-weight: normal;
  font-size: 10px;
  margin-top: 5px;
}

.stars {
  color: yellow;
  margin-left: 0px;
  font-size: 15px;
}
.hoso {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.hoso h6 {
  font-weight: normal;
}
.hoso1 h6 {
  font-weight: normal;
}
.hoso1 {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-left: 20px;
}
.pro1 h5 {
  width: 90px;
  height: 25px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 220px;
  padding-left: 5px;
  font-weight: normal;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: -30px;
  cursor: pointer;
}


.footer {
  width: 95%;
  height: 200px;
  background-color: #1d3c5d;
  color: white;
  margin-left: 15px;
  padding-left: 40px;
  padding-top: 50px;
  margin-top: 50px;
}
.king {
  display: flex;
  gap: 120px;
}
.ikom {
  display: flex;
  gap: 30px;
}
.ikom i {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  background-color: blue;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 40px;
}

.okm ul {
  list-style: none;
  margin-top: 10px;
  padding: 5px;
}
.op h1 {
  font-size: 30px;
  margin-top: 20px;
}
.op p {
  font-size: 15px;
  margin-top: 20px;
}
.footer h6{
  margin-top: 20px;
  padding-left: 450px;
  font-weight: normal;
}

/* .footer{
    width: 95%;
    height: 200px;
    background-color:#1d3c5d;
    color: white;
    margin-left: 15px;
    padding-left:20px;
    padding-top: 50px;
}
.king{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.ikom{
 display: flex;
 gap: 30px;
}
.ikom i{
    margin-top: 20px;
       font-size: 40px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    border: none;
    width: 90px;
    height: 40px;
}

.okm ul{
    list-style: none;
    margin-top: 10px;
    padding: 5px;
}
.op h1{
    font-size: 30px;
    margin-top: 20px;

   
}
.op p{
font-size: 15px;
margin-top: 20px;
}

.footer h6{
    margin-top: 20px;
    margin-left: 500px;
  font-weight: normal;
} */



@media (max-width:768px) {
    .header{
        flex-direction: column;
        gap: 10px;
        margin-left: 30px;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
        margin-left: 0px;
        display: none;
    }
    .head{
        display: block;
        margin-left: 310px;
        font-size: 20px;
        margin-top: -50px;
    }
    .hero{
        margin-left: 3px;
        height: auto;
        text-align: center;
    }
    .hero p{
        margin-left: 0px;
        margin-top: 5px;
    }
    .loki{
        flex-direction: column;
        align-items: center;
        
    }
    .yun input{
width: 200px;
margin-top: 0px;
padding-left: 2px;


    }
    .yun{
        margin-right: 15px;
        width: 200px;

    }
    .ghu{
      margin-right: 5px;
    }
    .profession{
        grid-template-columns: repeat(1,1fr);
          margin-left: 0px;
    }
    .pro1{
      margin-left: 20px;
    }
.footer {
    height: auto;
    width: auto;
    margin-left: 0px;
  }
  .king {
    flex-direction: column;
    gap: 50px;
  }
  .op h1 {
    font-size: 15px;
  }
  .op p {
    font-size: 10px;
  }
  .okm {
    margin-left: 120px;
  }
  .footer h6 {
    padding-left: 0px;
    font-size: 10px;
  }

}

    
    
    
    
    
    